<%= form_for message, remote: true, authenticity_token: true do |f| %>
  <%= f.label :your_message %>:
  <%= f.text_area :content, class: "form-control", data: {textarea: "message"} %>

  <%= f.hidden_field :groupchat_id, value: @groupchat.id %>
  <%= f.submit "send", class: "btn btn-primary", style: "display: none;", data: {send: "message"} %>
  <button type="button" onclick="getLocation()" alignment="right">Get My Location</button>
<% end %>

<script>
function getLocation() {
  if (navigator.geolocation) {
	  navigator.geolocation.getCurrentPosition(showPosition);
	} else {
    document.getElementById("message_content").value = "Geolocation is not supported by this browser.";
  }
}	
function showPosition(position) {
  document.getElementById("message_content").value = "LatitudeLongitude:" + position.coords.latitude + 
        ":" + position.coords.longitude; 
}
</script>
