  <%= form_for message, remote: true, authenticity_token: true do |f| %>
    <div class="mdl-textfield-custom mdl-textfield mdl-js-textfield">
      <%= f.text_area :content, class: "mdl-textfield__input", data: {textarea: "message"} %>
      <%= f.label :message, class: "mdl-textfield__label" %>
    </div>
    <%= f.hidden_field :groupchat_id, value: @groupchat.id %>
    <%= f.submit "send", class: "btn btn-primary", style: "display: none;", data: {send: "message"} %>
  <% end %>
