<div class="login-card-bg">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="mdl-login mdl-textfield mdl-js-textfield mdl-textfield--floating-label nopad">
    <%= f.label :name, class: "mdl-textfield__label hint-text depad-label" %>
    <%= f.text_field :name, class: "mdl-textfield__input line" %>    
  </div>
  
  <div class="mdl-login mdl-textfield mdl-js-textfield mdl-textfield--floating-label nopad">
    <%= f.email_field :email, class: "mdl-textfield__input line" %>
    <%= f.label :email, class: "mdl-textfield__label hint-text depad-label" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mdl-login mdl-textfield mdl-js-textfield mdl-textfield--floating-label nopad">
    <%= f.label :password, "New Password (if you want to change it)", class: "mdl-textfield__label hint-text depad-label" %>
    <%= f.password_field :password, autocomplete: "off", class: "mdl-textfield__input line" %>
  </div>

  <div class="mdl-login mdl-textfield mdl-js-textfield mdl-textfield--floating-label nopad">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "mdl-textfield__input line" %>
    <%= f.label :password_confirmation, "New Password Confirmation", class: "mdl-textfield__label hint-text depad-label" %>
  </div>

  <div class="mdl-login mdl-textfield mdl-js-textfield mdl-textfield--floating-label nopad">
    <%= f.label :current_password, "Current Password (any changes)", class: "mdl-textfield__label hint-text depad-label" %>    
    <%= f.password_field :current_password, autocomplete: "off", class: "mdl-textfield__input line" %>    
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
