<%= form_for groupchat do |f| %>
  <div class="groupchat-form">
      <div class="upper-create">	
        <div class="group-name-format">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= f.label :topic, 'Group Name', class: "mdl-textfield__label", id: "special-label" %>
            <%= f.text_field :topic, class: "mdl-textfield__input", id: "special-input" %>
          </div>
          <label class="member_label" for="groupchat_members">Group Members</label>
          <p class="member_list" id="select_message">Select contacts from the list below to add them to your private group.</p>
        </div>
      </div>
      <div class="lower-create">
        <div class="group-member-format">
          <ul id="special-select">
            <%= f.hidden_field :user_ids, { multiple: true, value: [] } %>
            <% User.where.not(id:current_user).each do |user| %>
              <li class="groupmember-select" id=<%= user.id %> value=<%= user.id %>>
                <%= user.name %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
  <%= f.submit "Done", class: "mdl-button mdl-js-button mdl-button--colored", id: "create-groupchat" %>
<% end %>

<script>
var user_ids = [gon.current_user.id];
var user_names = [];
var default_string = $("#select_message").text();
$("#special-select li").click(function(){
  var index = user_ids.indexOf($(this).attr("value"));
  var nindex = user_names.indexOf($(this).text());
  if (index > -1) {
    user_ids.splice(index, 1);
    user_names.splice(nindex, 1);
  }
  else {
    user_ids.push($(this).attr("value"));
    user_names.push($(this).text());
  }
  $("#groupchat_user_ids").val(user_ids);
  $(this).toggleClass("selected");
  
  if (user_names.length > 0) {
    $("#select_message").text(user_names.join(", "));
    $(".member_list").css("color", "rgba(255, 255, 255, 1.0)");
  }
  else {
    $("#select_message").text(default_string);
    $(".member_list").css("color", "rgba(255, 255, 255, 0.7)");
  }
});

</script>
