<script text="javascript">
document.addEventListener('turbolinks:load', function() {
  componentHandler.upgradeDom();
});
</script>

<div class="login-card-bg">
  <div class="login-card-top">  
  <h2 class="mdl-login log-in-header">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="mdl-login mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.email_field :email, autofocus: true, class: "mdl-textfield__input line" %>
      <%= f.label :email, class: "mdl-textfield__label hint-text" %>
    </div>
    <div class="mdl-login mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.password_field :password, autocomplete: "off", class: "mdl-textfield__input line" %>
      <%= f.label :password, class: "mdl-textfield__label hint-text" %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="mdl-login mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
        <%= f.check_box :remember_me, class: "mdl-checkbox__input shape", checked: true %>
        <%= f.label :remember_me, class: "mdl-checkbox__label hint-text" %>
      </div>
    <% end -%>
  </div>
  
  <div class="login-card-bot">
    <div class="actions">
      <%= f.submit "Log in", class: "button button-text" %>
      <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
