<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 100
};	
getLocation();
  
function getLocation() {
  if (navigator.geolocation && $(".add_location").attr("src") == "<%= asset_path('On.png') %>") {
    navigator.geolocation.getCurrentPosition(showPosition, error, options);
  }
  setTimeout(getLocation, 10000);
};

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
};

function showPosition(position) {
  document.getElementById("message_content").value = "LatitudeLongitude;" + position.coords.latitude + 
    ";" + position.coords.longitude; 
  $('[data-send="message"]').click();
  $('[data-textarea="message"]').val("")
  return false;
};  
  
function toggleLocation() {
  if ( $(".add_location").attr("src") == "<%= asset_path('Off.png') %>" ) {
    $(".add_location").attr("src", "<%= asset_path('On.png') %>");
    $(".sharing-hint").text("sharing location");
  } else {
    $(".add_location").attr("src", "<%= asset_path('Off.png') %>");
    $(".sharing-hint").text("not sharing location");
  }
};
</script>

<div class="topnav" id="myTopnav">

<% if user_signed_in? && controller.action_name != 'index' %>
  <%= link_to authenticated_root_path do %>
    <%= image_tag "back_arrow.png", class: "back_arrow" %>
  <% end %>
<% else %>
  <%= link_to authenticated_root_path do %>
    <%= image_tag "pbu_icon.png", class: "pbu_icon" %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if controller.controller_name == 'groupchats' %>
  
    <% if controller.action_name == 'index' %>
      <p class="groups-header">Groups</p>
      <%= link_to edit_user_registration_path(current_user) do %>
        <%= image_tag "account_icon_2x.png", class: "account_icon" %>
      <% end %>
      <%= link_to 'groupchats/new' do %>
        <%= image_tag "add_group_2x.png", class: "add_group" %>
      <% end %>
      
    <% elsif controller.action_name == 'new' %>
      <p class="groups-header">Create Group</p>
      
    <% elsif controller.action_name == 'show' %>
      <p class="groups-show"><%=  @groupchat.topic %></p>
      <p class="sharing-hint">not sharing location</p>
      <%= link_to edit_user_registration_path(current_user) do %>
        <%= image_tag "Settings_2x.png", class: "account_icon" %>
      <% end %>
      <%= link_to "javascript:toggleLocation()" do %>
        <%= image_tag "Off.png", class: "add_location" %>
      <% end %>
    <% end %>
  <% end %>
  
  <%- if controller.controller_name == 'registrations' && controller.action_name == 'edit' %>
    <%= link_to "Sign out", destroy_user_session_path, method: "delete", class: "log-in-nav" %>
    <p class="account-header">My Account</p> 
  <% end -%>

<% else %>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p class="log-in-helper">New here?</p>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "log-in-nav"%>
  
  <% else %>
    <p class="log-in-helper">Come here often?</p>
    <%= link_to "Log in", unauthenticated_root_path, class: "log-in-nav" %>
  <% end -%>
<% end %>

</div>
