<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

$(document).ready(function() {
  $('#groupchats_nav').click(function(event){
    alert('Hooray!');
    
    event.preventDefault(); // Prevent link from following its href
  });
});
</script>

<div class="topnav" id="myTopnav">
<% if user_signed_in? %>
  <%= link_to "Home", authenticated_root_path, style: "float:left" %>
  <% if (0 != (params[:id] || 0)) and current_page?(controller: 'groupchats', action: 'show', id: params[:id] || 0) %>
    <%= link_to "Map", :url => "#", :id => "groupchats_nav" %>  
  <% end %>
  <%= link_to "Log out", destroy_user_session_path, method: "delete" %> 
  <%= link_to "Settings", edit_user_registration_path(current_user) %>
<% else %>
  <%= link_to "Log in", unauthenticated_root_path %>
<% end %>
</div>
