<!DOCTYPE html>
<html>
  <head>
    <title>Otw</title>
		<link href="//cdn.muicss.com/mui-0.9.9-rc2/css/mui.min.css" rel="stylesheet" type="text/css" />
		<script src="//cdn.muicss.com/mui-0.9.9-rc2/js/mui.min.js"></script>

		<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= action_cable_meta_tag %>	
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		</head>

  <body>
		<%= yield %>

  </body>
</html>
